#box{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1022px;
height: 1127px;
left: 185px;
top: 157px;
}

#innerbox{
    /* Form */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 48px;

position: static;
width: 1022px;
height: 986px;
left: 0px;
top: 141px;

/* Gray/100 */

background: #F8F9FA;
border-radius: 24px;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 185px;
margin-top:157;
}

#bottombuttoncontainer{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

position: static;
width: 926px;
height: 40px;
left: 48px;
top: 898px;


/* Inside Auto Layout */

flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 45px 0px;
}
#comfirmbutton{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 95px;
height: 40px;
left: 831px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 45px;
}
#clearformbutton{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 114px;
height: 40px;
left: 158px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;
}
#returntosignuptext{
    position: static;
width: 134px;
height: 20px;
left: 0px;
top: 10px;

/* Headline/h6/regular */

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

text-align: center;

/* Primary/700 */

color: #1154FF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}
