.h1{
    color: white;
    margin-top: 6em;
    font-size: 3em;
}


.top{
    background-image: url("./images/Landing\ Page-2.png");
    background-size: cover;
    height: 38em;
}

.SecondaryColor{
    background-color:#DFB41B;
}
.SecondaryColor:hover{
    background-color:#c79c00;
}
.impact{
    margin-top: 4em;
    background-color: #0431A6;
    border-radius: 24px;
    color: white;
    height: 15em;
}
.stats{
    margin-top: 3em;
}
.roles{
    margin-top: 4em;
}
.partners{
    background-color: #F8F9FA;
    margin-top: 4em;
}
.partnerLogos{
    margin-left: 0em;
    margin-bottom: 2em;
}