.heading{
    color: #212529;
}
.requiredResponse{
    color: red;
}
.description{
    color: #212529;
}
.form-control{
    margin-bottom: 2em;
}
.form{
    background: #F8F9FA;
    border-radius:24px ;
}