.heading{
    color: #212529;
}
.requiredResponse{
    color: red;
}
.description{
    color: #212529;
}
.form-control{
    margin-bottom: 0em;
}
.form{
    background: #F8F9FA;
    border-radius:24px ;
    margin-bottom: 5em;
    height: 100%;
}
button{
    margin-bottom: 2em;
<<<<<<< HEAD
}
a{
    text-decoration: none;
=======
>>>>>>> main
}